#convenience {
    display: flex;
    padding: 0;
    justify-content: center;
    align-items: center;
    text-align:center;
    height: 100vh;
    padding-top: 10%;
    }
    
    .container-convenience {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20%; /* Espaçamento entre a imagem e o texto */
    width: 100%;
    color:white;
    }
    
    
    #section-title-c {
    font-size: 60px;
    margin-bottom: 20px; /* Espaçamento abaixo do título */
    color:white;
    font-weight: 400;
    }

    .container-text-c {
        width: 70%;
        font-size: 1.2rem;
        text-align: center;
    }
    
    .background-rectangle-c {
        width: 100%;
        height: 100vh; /* Ajuste conforme necessário */
        margin-bottom: 20%;
        background-color: var(--cor-header); /* Cor de fundo do retângulo */
        border-radius: -10px; /* Bordas arredondadas */
        padding: 80px;
        margin-bottom: 30px; /* Espaçamento entre os retângulos */
    }



    .convenience-list ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* 3 colunas */
        gap: 40px; /* Espaçamento entre os itens */
        list-style: none; /* Remove marcadores de lista */
        padding: 0;
        color: white;
        margin-top: 50px;
    }
    .convenience-list li {
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        margin-bottom: 10px; /* Espaçamento abaixo dos itens */
        text-transform: uppercase;
        font-family: 'Montserrat';
    }
    .convenience-list i {
        margin-right: 10px; /* Espaçamento entre o ícone e o texto */
        color: #67cae5; /* Cor do ícone */
    }